.App {
  text-align: center;
}

.App-list {
  text-align: left;
  margin-bottom: 10mm;
  margin-left: 7%
}

.App-logo {
  height: 80px;
}

.App-loader {
  animation: App-logo-spin infinite 2s linear;
  height: 60px;
  margin-top:10%;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: black;
  margin-bottom: 3%;
}

.App-header-image {
  float: left;
  height: 50px;
  margin-top: 3%;
  margin-right: 12px;
  margin-left: 5%;
}
.App-header-text {
  margin-top: 3.5%;
  left:16px;
  float: left;
  font-size: xx-large;

}

.App-footer {
  height: fit-content;
  background: rgba(129,127,160,0.11);
  alignment: center;
  margin: 10px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  font-size: large;
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 30px;
}

.App-intro {
  font-size: large;
}

.Video-stop {
  alignment: center;
}

ul {
  list-style-type: none;
}

text {
  font-size: small;
}

.list-item-time {
  color: rgba(38,40,55,0.6);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
