.Video-Screen {
    width:50%; margin:0 auto;
}
.Video-dim {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}
.Video-dialog {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    left: 0;
    right: 0;
    padding: 5% 8%;
    border: 2px solid #444;
}
.Video-button {
    content: 'close';
    position: absolute;
    right: 8%;
    padding: 12px;
    background: white url("./../x.svg");
    border-radius: 20px;
}